/* https://elad.medium.com/normalize-css-or-css-reset-9d75175c5d1e */

@import "./resets/normalize.css";
@import "./resets/reset.local.css";
@import url("../Gotham-Font/gotham.css");

/* typography by Elad Shechter */

html {
    font-size: 1px; /*for using REM units*/
}
body {
    font-family: "Gotham SSm", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14rem;
    font-weight: 400;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;

    min-width: 1200px;
    overflow-x: hidden;

    color: #fff;
    background-color: #333;
}

/* variables */

body {
    --header-height: 56px;
    --tds-bezier: cubic-bezier(0.5, 0, 0, 0.75);
}

/* utilities */

/* overall canvas */

.main-canvas {
    max-width: 100vw;
    /* overflow-x: hidden;  */
}

/* main menu and header */

.header-wrapper {
    position: absolute;
    min-width: 100vw;
    z-index: 999;
}

.global-menu {
    position: relative;
    height: var(--header-height);
}

.global-menu a {
    color: #fff;
    font-weight: 500;
}

.global-menu h1 {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translate(0, -50%);
}

.global-menu h1 a {
    min-height: 32px;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.global-menu h1 a svg {
    width: 120px;
    height: 24px;
}

.global-menu ol {
    list-style: none;
}
.global-menu ol li {
    float: left;
    padding: 0 8px;
    height: 32px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.5s ease;
}

.global-menu ol li::before {
    /* vertical alignment */
    content: "";
    min-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.global-menu ol li:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.5s ease;
}

.global-menu ol li a {
    min-height: 32px;
    padding: 0px 8px;
    /* vertical alignment */
    vertical-align: middle;
}

.global-menu .nav-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.global-menu .nav-end {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translate(0, -50%);
}

/* showcases utilities */
.showcase {
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* showcase tesla3 */

#model3 .bg-fs-img {
    position: relative;
    z-index: -1;
    height: 100vh;
    width: 100vw;
}
#model3 .bg-fs-img img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
#model3 .hero-content {
    position: absolute;
    z-index: auto;
    top: 16vh;
    text-align: center;
    margin: 0 auto;
    width: 100vw;
}

#model3 .hero-content h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 500;
    letter-spacing: -0.6px;
}

#model3 .hero-content p {
    padding: 6px 24px 14px;
}
#model3 .hero-content p a {
    box-shadow: 0 1px 0 0 currentColor;
    transition: box-shadow 0.33s var(--tds-bezier), color 0.33s ease;
}
#model3 .hero-content p a:hover {
    box-shadow: 0 2px 0 0 currentColor;
    transition: 0.33s var(--tds-bezier), color 0.33s ease;
}
